{% extends "mergecake/views/templates/base.html" %} 
{% block content %}
<div class="jumbotron">
<h2>Cakedays</h2>
<p>
<ul style="font-size:21px; font-weight: 200;">
<li>Choose the project and date where you want to bring a treat, this will be your "cakeday".</li>
<li>If your chosen date conflicts with an existing cakeday, you will be asked to choose a different date.</li>
<li>If there are no conflicts you will receive a receipt.</li>
<li>When the day arrives, your colleagues will be informed via e-mail that you are bringing a treat.</li>
</ul> 
</p>
<p><strong>NB!</strong> You can not delete a cakeday once registered and on conflicts you will not be informed who already registered the cakeday. These rules are in place to ensure the element of surprise.</p>
</div>
{% block cakeday-content %}
{% endblock %} 
{% endblock %}
