{% extends "mergecake/views/templates/base.html" %} 
{% block content %}

<h1>Cakedays</h1>
<p>When registering to bring cake or another treat, you will be
  informed on submitting if there is a conflict with a colleague who has
  already committed to bringing cake on the requested date. You will
  then have to choose another day.</p>
<p>Successfully registered cakedays will will result in an e-mail
  being sent out to your colleagues at 10:00 on the date chosen. This is
  to ensure that you follow through with your commitment.</p>
<div class="row">
  <div class="span12">
    <hr>
  </div>
</div>
{% block cakeday-content %}
{% endblock %} 
{% endblock %}
