{% extends "mergecake/views/templates/cakeday-base.html" %} 
{% block cakeday-content %}
<h1>Receipt</h1>
<p>Your request was accepted.</p>
<div class="row">
  <div class="col-md-2 control-label">
    <p>Employee:
    <p>
  </div>
  <div class="col-md-4">
    <p>{{params.user.initials}} - {{params.user.name}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 control-label">
    <p>Project:
    <p>
  </div>
  <div class="col-md-4">
    <p>{{params.projectname}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 control-label">
    <p>Date:
    <p>
  </div>
  <div class="col-md-4">
    <p>{{params.cakeday.date}}
  </div>
</div>
<div class="row">
  <div class="col-md-2 control-label">
    <p>Comment:
    <p>
  </div>
  <div class="col-md-4">
    <p>{{params.cakeday.description}}
  </div>
</div>
{% endblock %}
