{% extends "mergecake/views/templates/cakeday-base.html" %}
{% block cakeday-content %}
<h1>Register a cakeday</h1>
<form class="form-horizontal"
  action="{{servlet-context}}/submit-cakeday" method="POST">
  <fieldset>

    <div class="form-group">
      <label class="col-md-4 control-label" for="project">Select
        project</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="proj" name="proj" 
          value="{{params.proj}}" autocomplete="off"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="user">Select
        your initials</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="user" name="user" 
          value="{{params.user}}" autocomplete="off"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Which day will you be bringing a treat?</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="date" name="date" value="{{params.date}}"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Comment (will be included in e-mail)</label>
      <div class="col-md-4">
        <textarea class="form-control" id="description"
          name="description">{{params.description}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 pull-right col-md-pull-1">
        <button type="submit" id="submitbutton" name="submitbutton"
          class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
</form>
{{message}}
{% script "/js/jquery-ui.js" %}
<script type="text/javascript">
$(function() {
	var projectList = [
  {% for proj in projects %}
  "{{proj.id}} - {{proj.projectname}}",
  {% endfor %}
  ];
  $("#proj").autocomplete({
  //source: nameList,
    delay: 200,
    source: function(request, response) {
      var results = $.ui.autocomplete.filter(projectList, request.term);
      response(results.slice(0,10));
    }
  });
}); 
$(function() {
	var nameList = [
    {% for user in users %}
    "{{user.initials}} - {{user.name}}",
    {% endfor %}
    ];

  $("#user").autocomplete({
    //source: nameList,
    delay: 200,
    source: function(request, response) {
      var results = $.ui.autocomplete.filter(nameList, request.term);
      response(results.slice(0,10));
    }
  });
});
</script>
{% style "/css/datepicker.css" %}
{% script "/js/bootstrap-datepicker.js" %}
<script type="text/javascript">
	$(function() {
		$('#date').datepicker({
			format : 'dd-mm-yyyy'
		});
	});
</script>
{% endblock %}
