{% extends "mergecake/views/templates/cakeday-base.html" %}
{% block cakeday-content %}
<div class="page-header">
<h1>Register a cakeday</h1>
</div>
<form class="form-horizontal"
  action="{{servlet-context}}/submit-cakeday" method="POST">
  <fieldset>

    <div class="form-group">
      <label class="col-md-4 control-label" for="project">Select
        project</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="proj" name="proj" 
          value="{{params.proj}}" autocomplete="off" placeholder="Start typing project name or number"/>
      </div>
      {% if error.invalidproject %}
      <div class="col-md-4 error">
        <p>* Please enter a valid project</p>
      </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="user">Select your name</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="user" name="user" 
          value="{{params.user}}" autocomplete="off" placeholder="Start typing name or initials"/>
      </div>
      {% if error.invaliduser %}
      <div class="col-md-4 error">
        <p>* Please enter a valid user</p>
      </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Which day will you be bringing a treat?</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="date" name="date" 
          value="{{params.date}}" placeholder="dd-mm-yyyy"></input>
      </div>
      {% if error.invaliddate %}
      <div class="col-md-4 error">
        <p>* Please enter a valid date</p>
      </div>
      {% endif %}
      {% if error.dateconflict %}
      <div class="col-md-4 error">
        <p>* The chosen cakeday, {{params.date}}, is already taken.</p>
      </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Comment (will be included in e-mail)</label>
      <div class="col-md-4">
        <textarea class="form-control" id="description"
          name="description">{{params.description}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 pull-right col-md-pull-1">
        <button type="submit" id="submitbutton" name="submitbutton"
          class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
</form>
{{message}}
{% script "/js/jquery-ui.js" %}
{% style "/css/searchboxes.css" %}
<script type="text/javascript">
$(function() {
	var projectList = [
  {% for proj in projects %}
  "{{proj.id}} - {{proj.projectname}}",
  {% endfor %}
  ];
  $("#proj").autocomplete({
  //source: nameList,
    delay: 200,
    messages: {
        noResults: '',
        results: function() {}
    },
    source: function(request, response) {
      var results = $.ui.autocomplete.filter(projectList, request.term);
      response(results.slice(0,10));
    },
    change: function (event, ui) {
        if (!ui.item) {
             $(this).val('');
         }
    }});
}); 
$(function() {
	var nameList = [
    {% for user in users %}
    "{{user.initials}} - {{user.name}}",
    {% endfor %}
    ];

  $("#user").autocomplete({
    //source: nameList,
    delay: 200,
    messages: {
        noResults: '',
        results: function() {}
    },
    source: function(request, response) {
      var results = $.ui.autocomplete.filter(nameList, request.term);
      response(results.slice(0,10));
    },
    change: function (event, ui) {
        if (!ui.item) {
             $(this).val('');
         }
    }});
});
</script>
{% style "/css/datepicker.css" %}
{% script "/js/bootstrap-datepicker.js" %}
<script type="text/javascript">
	$(function() {
		$('#date').datepicker({
			format : 'dd-mm-yyyy'
		});
	});
</script>
{% endblock %}
